<div class="home-section">
  <div class="home-item-container">
    <div class="home-item-wrapper">
      <h1>Khóa học online nổi bật</h1>
      <div class="home-item-wrapper-course">
        <mat-card class="home-item-content">
          <img
            class="home-item-img"
            mat-card-image
            src="https://i.ibb.co/nQVpgvH/combo-ielts.jpg"
            alt="combo"
          />
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                Combo khoá học IELTS Intensive [Tặng khoá TED Talks]
              </mat-card-title>
              <mat-card-subtitle>
                <span class="home-student">
                  <span class="home-student-star">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                  </span>
                  <span class="home-student-total">38,171 Học viên</span>
                </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-tag">#Khóa học online </span>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <span class="home-cost">
                  <span class="home-cost-new">1.525.000đ</span>
                  <span class="home-cost-old"> 3.596.000đ </span>
                  <span class="home-cost-discount">-57%</span>
                </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>

        <mat-card class="home-item-content">
          <img
            class="home-item-img"
            mat-card-image
            src="https://i.ibb.co/nQVpgvH/combo-ielts.jpg"
            alt="combo"
          />
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                Combo Advanced IELTS Intensive kèm chấm chữa giáo viên bản ngữ
                [Tặng khoá TED Talks] Khoá học online
              </mat-card-title>
              <mat-card-subtitle>
                <span class="home-student">
                  <span class="home-student-star">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                  </span>
                  <span class="home-student-total">46,833 Học viên</span>
                </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-tag">#Khóa học online </span>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <span class="home-cost">
                  <span class="home-cost-new">2.925.000đ</span>
                  <span class="home-cost-old"> 5.236.000đ </span>
                  <span class="home-cost-discount">-45%</span>
                </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>

        <mat-card class="home-item-content">
          <img
            class="home-item-img"
            mat-card-image
            src="https://i.ibb.co/nQVpgvH/combo-ielts.jpg"
            alt="combo"
          />
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                Combo khóa học IELTS lộ trình 0-7+ kèm chấm chữa giáo viên bản
                ngữ [Tặng khóa TED Talks]
              </mat-card-title>
              <mat-card-subtitle>
                <span class="home-student">
                  <span class="home-student-star">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                  </span>
                  <span class="home-student-total">63,168 Học viên</span>
                </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-tag">#Khóa học online </span>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <span class="home-cost">
                  <span class="home-cost-new">3.325.000đ</span>
                  <span class="home-cost-old"> 6.245.000đ </span>
                  <span class="home-cost-discount">-46%</span>
                </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>

        <mat-card class="home-item-content">
          <img
            class="home-item-img"
            mat-card-image
            src="https://i.ibb.co/nQVpgvH/combo-ielts.jpg"
            alt="combo"
          />
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                Trọn bộ 3 khoá học thực hành tiếng Anh online - Practical
                English [Tặng khoá TED Talks]
              </mat-card-title>
              <mat-card-subtitle>
                <span class="home-student">
                  <span class="home-student-star">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                  </span>
                  <span class="home-student-total">38,171 Học viên</span>
                </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-tag">#Khóa học online </span>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <span class="home-cost">
                  <span class="home-cost-new">989.000đ</span>
                  <span class="home-cost-old"> 2.097.000đ </span>
                  <span class="home-cost-discount">-52%</span>
                </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="home-item-container">
    <div class="home-item-wrapper">
      <h1>Đề thi mới nhất</h1>
      <div class="home-item-wrapper-test">
        <mat-card class="home-item-content">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>IELTS Simulation Listening test 1</mat-card-title>
              <mat-card-subtitle>
                <mat-icon>access_time</mat-icon>
                <span class="home-item-time"> 40 phút</span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <mat-icon>list</mat-icon>
                <span class="home-item-part"> 4 phần thi | 40 câu hỏi </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #IELTS Academic </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #Listening </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>

          <div class="btn-detail">Chi tiết</div>
        </mat-card>

        <mat-card class="home-item-content">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>IELTS Simulation Listening test 1</mat-card-title>
              <mat-card-subtitle>
                <mat-icon>access_time</mat-icon>
                <span class="home-item-time"> 40 phút</span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <mat-icon>list</mat-icon>
                <span class="home-item-part"> 4 phần thi | 40 câu hỏi </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #IELTS Academic </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #Listening </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>

          <div class="btn-detail">Chi tiết</div>
        </mat-card>

        <mat-card class="home-item-content">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>IELTS Simulation Listening test 1</mat-card-title>
              <mat-card-subtitle>
                <mat-icon>access_time</mat-icon>
                <span class="home-item-time"> 40 phút</span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <mat-icon>list</mat-icon>
                <span class="home-item-part"> 4 phần thi | 40 câu hỏi </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #IELTS Academic </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #Listening </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>

          <div class="btn-detail">Chi tiết</div>
        </mat-card>

        <mat-card class="home-item-content">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>IELTS Simulation Listening test 4</mat-card-title>
              <mat-card-subtitle>
                <mat-icon>access_time</mat-icon>
                <span class="home-item-time"> 40 phút</span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <mat-icon>list</mat-icon>
                <span class="home-item-part"> 4 phần thi | 40 câu hỏi </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #IELTS Academic </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #Listening </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>

          <div class="btn-detail">Chi tiết</div>
        </mat-card>

        <mat-card class="home-item-content">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>IELTS Simulation Listening test 1</mat-card-title>
              <mat-card-subtitle>
                <mat-icon>access_time</mat-icon>
                <span class="home-item-time"> 40 phút</span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <mat-icon>list</mat-icon>
                <span class="home-item-part"> 4 phần thi | 40 câu hỏi </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #IELTS Academic </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #Listening </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>

          <div class="btn-detail">Chi tiết</div>
        </mat-card>

        <mat-card class="home-item-content">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>IELTS Simulation Listening test 1</mat-card-title>
              <mat-card-subtitle>
                <mat-icon>access_time</mat-icon>
                <span class="home-item-time"> 40 phút</span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <mat-icon>list</mat-icon>
                <span class="home-item-part"> 4 phần thi | 40 câu hỏi </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #IELTS Academic </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #Listening </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>

          <div class="btn-detail">Chi tiết</div>
        </mat-card>

        <mat-card class="home-item-content">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>IELTS Simulation Listening test 1</mat-card-title>
              <mat-card-subtitle>
                <mat-icon>access_time</mat-icon>
                <span class="home-item-time"> 40 phút</span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <mat-icon>list</mat-icon>
                <span class="home-item-part"> 4 phần thi | 40 câu hỏi </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #IELTS Academic </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #Listening </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>

          <div class="btn-detail">Chi tiết</div>
        </mat-card>

        <mat-card class="home-item-content">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>IELTS Simulation Listening test 4</mat-card-title>
              <mat-card-subtitle>
                <mat-icon>access_time</mat-icon>
                <span class="home-item-time"> 40 phút</span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <mat-icon>list</mat-icon>
                <span class="home-item-part"> 4 phần thi | 40 câu hỏi </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #IELTS Academic </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="home-item-tag"> #Listening </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>

          <div class="btn-detail">Chi tiết</div>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="home-item-container">
    <div class="home-item-wrapper">
      <h1>Tham gia cộng đồng</h1>

      <div class="home-item-wrapper-list-avatar">
        <div class="home-avatar">
          <div class="home-avatar-inner">
            <span class="home-avatar-inner-item">
              <img src="https://i.ibb.co/1v02fG1/avatar-inner-5.jpg" alt="" />
            </span>
            <span class="home-avatar-inner">
              <img src="https://i.ibb.co/KNfpx6y/avatar-inner-4.jpg" alt="" />
            </span>
            <span class="home-avatar-inner-item">
              <img src="https://i.ibb.co/dBnk9CS/avatar-inner-3.jpg" alt="" />
            </span>
            <span class="home-avatar-inner-item">
              <img src="https://i.ibb.co/JyhSCgs/avatar-inner-2.jpg" alt="" />
            </span>
            <span class="home-avatar-inner-item">
              <img src="https://i.ibb.co/J3k3LQ2/avatar-inner-1.jpg" alt="" />
            </span>
          </div>
        </div>

        <span class="home-subtitle">
          và hơn 350.000 học viên tham gia mỗi tháng
        </span>
      </div>

      <div class="home-item-wrapper-social">
        <div class="social-left">
          <img src="https://i.ibb.co/hVW3yM2/social-connection.jpg" alt="" />
        </div>
        <div class="social-right">
          <p class="social-right-text">
            <mat-icon class="social-right-icon">check</mat-icon>
            <span class="social-right-text-content">
              Cộng đồng học tiếng Anh và luyện thi sôi nổi với hơn 250.000 học
              viên mỗi tháng
            </span>
          </p>
          <p class="social-right-text">
            <mat-icon class="social-right-icon">check</mat-icon>
            <span class="social-right-text-content">
              Đặt câu hỏi cho đội ngũ trợ giảng cũng như các học viên khác để
              nhận giải đáp sau 30 phút
            </span>
          </p>
          <p class="social-right-text">
            <mat-icon class="social-right-icon">check</mat-icon>
            <span class="social-right-text-content">
              Chia sẻ kinh nghiệm học tập và làm bài thi với các thành viên khác
            </span>
          </p>
          <p class="social-right-text">
            <mat-icon class="social-right-icon">check</mat-icon>
            <span class="social-right-text-content">
              Luyện tập kỹ năng nói & viết và nhận được nhận xét và chấm điểm từ
              cộng đồng và giảng viên
            </span>
          </p>

          <button mat-raised-button class="btn-join-now" (click)="getJoinNow()">
            Tham gia ngay
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
