<div class="term-wrapper">
  <div class="term-container">
    <h1>Điều khoản sử dụng</h1>
    <div class="term-content">
      <h2>1. Điều khoản</h2>
      <div class="term-content-item">
        Bằng cách truy cập trang web này, truy cập từ STUDY10, bạn đồng ý bị
        ràng buộc bởi các Điều khoản và Điều kiện Sử dụng Trang web này và đồng
        ý rằng bạn chịu trách nhiệm về thỏa thuận với bất kỳ luật địa phương
        hiện hành nào. Nếu bạn không đồng ý với bất kỳ điều khoản nào trong số
        này, bạn bị cấm truy cập trang web này. Các tài liệu trong trang web này
        được bảo vệ bởi luật bản quyền và thương hiệu.
      </div>

      <h2>2. Dữ liệu nhật ký</h2>
      <div class="term-content-item">
        Khi mọi người đứng đằng sau ý kiến ​​và hành động của họ, cộng đồng của
        chúng tôi an toàn hơn và có trách nhiệm hơn. Vì lý do đó, bạn phải: Sử
        dụng cùng tên mà bạn sử dụng trong cuộc sống hàng ngày. Cung cấp thông
        tin chính xác về bản thân bạn. Chỉ tạo một tài khoản (của riêng bạn) và
        sử dụng dòng thời gian của bạn cho mục đích cá nhân. Không chia sẻ mật
        khẩu của bạn, cấp quyền truy cập vào tài khoản STUDY10 của bạn cho người
        khác hoặc chuyển tài khoản của bạn cho bất kỳ ai khác (mà không có sự
        cho phép của chúng tôi).
      </div>

      <div class="term-content-item">
        Chúng tôi cố gắng để làm cho STUDY10 rộng rãi có sẵn cho tất cả mọi
        người, nhưng bạn không thể sử dụng STUDY10 nếu:
      </div>

      <ul>
        <li>Bạn dưới 13 tuổi.</li>
        <li>Bạn là một tội phạm tình dục bị kết án.</li>
        <li>
          Trước đây chúng tôi đã vô hiệu hóa tài khoản của bạn vì vi phạm các
          điều khoản hoặc chính sách của chúng tôi.
        </li>
        <li>
          Bạn bị cấm nhận sản phẩm, dịch vụ hoặc phần mềm của chúng tôi theo
          luật hiện hành.
        </li>
      </ul>

      <h2>3. Sử dụng giấy phép</h2>
      <div class="term-content-item">
        Giấy phép được cấp để tạm thời tải xuống một bản sao của tài liệu trên
        trang web của STUDY10 để chỉ xem tạm thời cá nhân, phi thương mại. Đây
        là việc cấp giấy phép, không phải chuyển nhượng quyền sở hữu và theo
        giấy phép này, bạn có thể không:
      </div>
      <ul>
        <li>sửa đổi hoặc sao chép tài liệu;</li>
        <li>
          sử dụng các tài liệu cho bất kỳ mục đích thương mại hoặc cho bất kỳ
          màn hình hiển thị nào;
        </li>
        <li>
          cố gắng thiết kế ngược bất kỳ phần mềm nào có trên trang web của
          STUDY10;
        </li>
        <li>
          loại bỏ bất kỳ bản quyền hoặc các ký hiệu độc quyền khác từ các tài
          liệu; hoặc là chuyển tài liệu cho người khác hoặc "phản chiếu" tài
          liệu trên bất kỳ máy chủ nào khác.
        </li>
      </ul>

      <div class="term-content-item">
        Điều này sẽ cho phép STUDY10 chấm dứt khi vi phạm bất kỳ hạn chế nào
        trong số này. Khi chấm dứt, quyền xem của bạn cũng sẽ bị chấm dứt và bạn
        nên hủy mọi tài liệu đã tải xuống theo sở hữu của bạn cho dù tài liệu
        được in hay định dạng điện tử.
      </div>

      <h2>4. Tuyên bố từ chối trách nhiệm</h2>
      <div class="term-content-item">
        Tất cả tài liệu trên trang web của STUDY10 đều được cung cấp "nguyên
        trạng". STUDY10 không bảo đảm, có thể được thể hiện hoặc ngụ ý, do đó
        phủ nhận tất cả các bảo hành khác. Hơn nữa, STUDY10 không thực hiện bất
        kỳ đại diện nào liên quan đến độ chính xác hoặc độ tin cậy của việc sử
        dụng các tài liệu trên trang web của mình hoặc liên quan đến các tài
        liệu đó hoặc bất kỳ trang web nào được liên kết với trang web này.
      </div>

      <h2>5. Hạn chế</h2>
      <div class="term-content-item">
        STUDY10 hoặc các nhà cung cấp của nó sẽ không chịu trách nhiệm về bất kỳ
        thiệt hại nào phát sinh khi sử dụng hoặc không có khả năng sử dụng tài
        liệu trên trang web của STUDY10, ngay cả khi STUDY10 hoặc đại diện ủy
        quyền của Website này đã được thông báo , bằng miệng hoặc bằng văn bản,
        về khả năng thiệt hại đó. Một số khu vực pháp lý không cho phép hạn chế
        về bảo đảm ngụ ý hoặc giới hạn trách nhiệm đối với các thiệt hại ngẫu
        nhiên, những giới hạn này có thể không áp dụng cho bạn.
      </div>

      <h2>6. Sửa đổi</h2>
      <div class="term-content-item">
        Các tài liệu xuất hiện trên trang web của STUDY10 có thể bao gồm các lỗi
        kỹ thuật, đánh máy hoặc chụp ảnh. STUDY10 sẽ không hứa rằng bất kỳ tài
        liệu nào trong trang web này là chính xác, đầy đủ hoặc hiện tại. STUDY10
        có thể thay đổi các tài liệu trên trang web của mình bất kỳ lúc nào mà
        không cần thông báo. STUDY10 không thực hiện bất kỳ cam kết cập nhật các
        tài liệu.
      </div>

      <h2>7. Liên kết</h2>
      <div class="term-content-item">
        STUDY10 đã không xem xét tất cả các trang web liên kết đến trang web của
        mình và không chịu trách nhiệm về nội dung của bất kỳ trang web được
        liên kết nào như vậy. Sự hiện diện của bất kỳ liên kết nào không ngụ ý
        sự chứng thực của STUDY10 của trang web. Việc sử dụng bất kỳ trang web
        được liên kết nào đều có rủi ro riêng của người dùng.
      </div>

      <h2>8. Điều khoản sử dụng trang web sửa đổi</h2>
      <div class="term-content-item">
        STUDY10 có thể sửa đổi các Điều khoản sử dụng cho trang web của mình bất
        kỳ lúc nào mà không cần thông báo trước. Bằng cách sử dụng trang web
        này, bạn đồng ý bị ràng buộc bởi phiên bản hiện tại của các Điều khoản
        và Điều kiện sử dụng này.
      </div>

      <h2>9. Luật điều chỉnh</h2>
      <div class="term-content-item">
        Bất kỳ khiếu nại nào liên quan đến trang web của STUDY10 sẽ bị chi phối
        bởi luật pháp của chúng tôi mà không liên quan đến xung đột của nó về
        các điều khoản của pháp luật.
      </div>
    </div>
  </div>
</div>
