<div class="header-wrapper">
  <section #container class="container">
    <nav class="navbar">
      <div class="title" routerLink="/">STUDY10</div>
      <mat-list>
        <mat-list-item color="accent" routerLink="/">
          <span class="navbar-link">Trang chủ</span>
        </mat-list-item>
        <mat-list-item routerLink="courses">
          <span class="navbar-link">Khoá học online</span>
        </mat-list-item>
        <mat-list-item color="primary" routerLink="tests">
          <span class="navbar-link">Đề thi online</span>
        </mat-list-item>
        <mat-list-item color="primary" routerLink="blog">
          <span class="navbar-link">Blog</span>
        </mat-list-item>

        <button
          mat-raised-button
          color="#35509a !important"
          routerLink="sign-in"
          *ngIf="!this.authService.isLoggedIn(); else user"
        >
          Đăng nhập
        </button>

        <ng-template #user>
          <button
            id="btn-avatar"
            [matMenuTriggerFor]="menu"
            (menuOpened)="menuOpened(true)"
            (menuClosed)="menuClosed(false)"
            #menuTrigger
          >
            <div class="user-wrapper">
              <img
                class="user-img"
                src="../../../assets/img/avatar.jpg"
                alt=""
              />

              <mat-icon class="icon-arrow">keyboard_arrow_down</mat-icon>
            </div>
          </button>
        </ng-template>
      </mat-list>

      <button
        mat-icon-button
        class="menu-btn"
        aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menu"
        (menuOpened)="menuOpened(true)"
        (menuClosed)="menuClosed(false)"
        #menuTrigger
      >
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span class="navbar-link">Trang chủ</span>
        </button>
        <button mat-menu-item routerLink="courses">
          <span class="navbar-link">Khoá học online</span>
        </button>
        <button mat-menu-item routerLink="tests">
          <span class="navbar-link">Đề thi online</span>
        </button>
        <button mat-menu-item routerLink="blog">
          <span class="navbar-link">Blog</span>
        </button>
        <button
          mat-menu-item
          [routerLink]="['my-account', 'information']"
          *ngIf="this.authService.isLoggedIn()"
        >
          <span class="navbar-link">Trang cá nhân</span>
        </button>

        <div
          routerLink="sign-in"
          *ngIf="!this.authService.isLoggedIn(); else logoutButton"
          class="btn-sign-in"
        >
          Đăng nhập
        </div>

        <ng-template #logoutButton>
          <div (click)="signOut()" class="btn-sign-out">Đăng xuất</div>
        </ng-template>
      </mat-menu>
    </nav>
  </section>
</div>
