.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 52px;
  z-index: 40;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.775rem;
  padding-right: 0.775rem;
  position: relative;
  height: 100%;

  &-link {
    font-size: 15px !important;
    border-bottom: 3px solid transparent;
    font-weight: 600;
    font-size: 0.92rem;
    color: #71869d;
    letter-spacing: -0.2px;
  }

  &-link:hover {
    color: #35509a;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}

.title {
  font-size: 27px;
  font-weight: 600;
  text-shadow: 0 0 8px #525151;
  cursor: pointer;
}

mat-list {
  display: flex;
  float: right;
  justify-items: center;
  position: relative;
  padding: 0 !important;
  align-items: center;
  &-item {
    cursor: pointer !important;
  }

  &-item::before {
    background-color: white !important;
  }

  &-item.active {
    color: #71869d;
  }

  button {
    background-color: #35509a !important;
    color: white;
    border-radius: 20px;
    font-weight: 600;
  }
}

.mat-mdc-list-item,
.mat-mdc-list-option {
  width: auto;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 40px;
}

.menu-btn {
  display: none !important;
}

.mat-mdc-menu-item {
  min-height: 34px !important;

  &-text {
    color: #71869d !important;
  }
}

.user {
  &-wrapper {
    display: flex;
    margin-left: 0.25rem;
    align-items: center;
    gap: 5px;
  }

  &-img {
    display: flex !important;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}

.icon-arrow {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #71869d;
}

@media (max-width: 992px) {
  mat-list {
    display: none;
  }

  .menu-btn {
    display: block !important;
  }

  .navbar-link:hover {
    box-shadow: none;
    color: #71869d;
  }

  .btn {
    &-sign-in {
      background-color: #35509a !important;
      padding: 4px 35px;
      margin-left: 1rem;
      margin-right: 1rem;
      color: white;
      border-radius: 6px;
      font-weight: 600;
      font-size: 14px !important;
      margin-top: 10px;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
          0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      }
    }

    &-sign-out {
      background-color: rgb(34, 139, 34) !important;
      padding: 4px 35px;
      margin-left: 1rem;
      margin-right: 1rem;
      color: white;
      border-radius: 6px;
      font-weight: 600;
      font-size: 14px !important;
      margin-top: 10px;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
          0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      }
    }
  }
}

#btn-avatar {
  padding: 0;
  border: 0;
  background: transparent !important;
  cursor: pointer;
}

@media (min-width: 993px) {
  .menu-small {
    display: none !important;
  }

  .btn-sign-out {
    background-color: rgb(34, 139, 34) !important;
    padding: 4px 35px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px !important;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
  }
}
