.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 52px;
  z-index: 40;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.775rem;
  padding-right: 0.775rem;
  position: relative;
  height: 100%;
}

.title {
  font-size: 27px;
  font-weight: 600;
  text-shadow: 0 0 8px #525151;
  cursor: pointer;
}

mat-list {
  display: flex;
  float: right;
  justify-items: center;

  &-item {
    cursor: pointer !important;
  }

  &-item::before {
    background-color: white !important;
  }

  &-item.active {
    color: #71869d;
  }

  button {
    background-color: #35509a !important;
    color: white;
    border-radius: 20px;
    font-weight: 600;
  }
}

.mat-mdc-list-item,
.mat-mdc-list-option {
  width: auto;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 40px;
}

.navbar-link {
  font-size: 15px !important;
  border-bottom: 3px solid transparent;
  font-weight: 600;
  font-size: 0.92rem;
  color: #71869d;
  letter-spacing: -0.2px;
}

.navbar-link:hover {
  color: #35509a;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.menu-btn {
  display: none !important;
}

.mat-mdc-menu-item-text {
  color: #71869d !important;
}

@media (max-width: 992px) {
  mat-list {
    display: none;
  }

  .menu-btn {
    display: block !important;
  }

  .navbar-link:hover {
    box-shadow: none;
    color: #71869d;
  }

  .sign-in-btn {
    background-color: #35509a !important;
    padding: 7px 40px;
    color: white;
    border-radius: 16px;
    font-weight: 600;
    font-size: 15px !important;
  }
  .mat-mdc-menu-item {
    min-height: 37px !important;
  }
}

@media (min-width: 993px) {
  .menu-small {
    display: none !important;
  }
}
