.change-password {
  &-wrapper {
    background-color: #fff;
    padding: 1rem rem;
    border-radius: 0.65rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 0 0 rgba(143, 156, 173, 0.2);
  }

  &-container {
    display: block;
    width: 100%;
    padding: 1rem;
  }
}

.form {
  &-group {
    margin-bottom: 1rem;
  }

  &-control-file {
    display: block;
    width: 100%;
    font-size: 1rem;
  }
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.btn-update {
  margin-top: 1.5rem;
  width: 100%;
}

mat {
  &-form-field {
    width: 100%;
  }
}
