<div class="buying-terms-wrapper">
  <div class="buying-terms-container">
    <h1>Điều khoản bảo mật</h1>
    <div class="buying-terms-content">
      <p>
        Các điều khoản và điều kiện quy định tại đây là những thỏa thuận ràng
        buộc giữa Quý khách và Công ty TNHH Công Nghệ A Plus (“STUDY10” hoặc
        “Công ty”) liên quan đến việc đăng ký tài khoản, mua hàng, cung cấp và
        sử dụng các sản phẩm và dịch vụ, hậu mãi khi Quý khách giao dịch với
        STUDY10 thông qua website https://study10.com (sau đây được gọi tắt là
        “Bản Điều khoản và Điều kiện”). Nội dung của Bản Điều khoản và Điều kiện
        được công khai trên https://study10.com. Quý khách vui lòng đọc kỹ Bản
        Điều khoản và Điều kiện. Khi đăng ký khóa học, sản phẩm và dịch vụ trên
        website https://study10.com, Quý khách đã xác nhận và chấp nhận Bản Điều
        khoản và Điều kiện.
      </p>

      <h2>1. Khái niệm</h2>
      <div class="buying-terms-content-item">
        - “STUDY10” hoặc “Công ty” là công ty TNHH Công Nghệ A Plus
      </div>

      <div class="buying-terms-content-item">
        - “Quý khách” hoặc “Học viên” là người truy cập vào Website
        https://study10.com đăng ký tài khoản và/hoặc mua, sử dụng các sản phẩm,
        dịch vụ do Công ty cung cấp
      </div>

      <h2>2. Giới thiệu</h2>
      <div class="buying-terms-content-item">
        - Công ty TNHH Công Nghệ A Plus là chủ sở hữu của thương hiệu, hình ảnh,
        biểu tượng, nội dung được hiển thị trên Website này.
      </div>

      <div class="buying-terms-content-item">
        - https://study10.com là website do STUDY10 xây dựng và vận hành. Đối
        tượng phục vụ là tất cả Quý khách có nhu cầu mua và sử dụng sản phẩm,
        dịch vụ được cung cấp bởi STUDY10.
      </div>

      <div class="buying-terms-content-item">
        - Tên miền website https://study10.com đã được Công ty đăng ký sử dụng
        hợp lệ
      </div>

      <div class="buying-terms-content-item">
        - Sản phẩm và dịch vụ được STUDY10 giới thiệu và cung cấp tại Website
        https://study10.com bao gồm chương trình học, khóa học, các gói dịch vụ
        tiện ích đi kèm.
      </div>

      <div class="buying-terms-content-item">
        - Việc giao tiếp giữa Quý khách và STUDY10 sẽ được thực hiện qua các
        kênh: email, messenger Fanpage, điện thoại và zalo.
      </div>

      <div class="buying-terms-content-item">
        - Mọi sự thắc mắc hoặc cần hỗ trợ, tư vấn, xin vui lòng gọi: 096 369
        5525
      </div>

      <div class="buying-terms-content-item">
        - STUDY10 đảm bảo hoạt động mua bán tại https://study10.com được thực
        hiện công khai, minh bạch, đảm bảo trách nhiệm của STUDY10 đối với quyền
        lợi của người tiêu dùng.
      </div>

      <div class="buying-terms-content-item">
        - Chính sách giao dịch thông qua website https://study10.com gồm những
        nội dung chính sau:
      </div>

      <div class="buying-terms-content-item">
        - (a) Quyền và nghĩa vụ của STUDY10: tham chiếu Điều 4 của Bản Điều
        khoản và Điều kiện.
      </div>

      <div class="buying-terms-content-item">
        - (b) Quyền và nghĩa vụ của Quý khách: tham chiếu Điều 5 của Bản Điều
        khoản và Điều kiện.
      </div>

      <h2>3. Hiệu lực và luật điều chỉnh</h2>
      <div class="buying-terms-content-item">
        - Bản Điều khoản và Điều kiện này có hiệu lực kể từ khi Quý khách đăng
        ký tài khoản, mua hàng hoặc sử dụng các sản phẩm và dịch vụ mà STUDY10
        cung cấp.
      </div>

      <div class="buying-terms-content-item">
        - Học viên khi đăng ký tài khoản và sử dụng sản phẩm, dịch vụ, tài liệu,
        nội dung trên Website của STUDY10 đã đồng ý với các điều khoản hoạt
        động, chịu trách nhiệm pháp lý với hành vi của mình và cam kết thực hiện
        mọi quy định liên quan.
      </div>

      <div class="buying-terms-content-item">
        - Bản Điều khoản và Điều kiện này được điều chỉnh và giải thích theo
        pháp luật Việt Nam.
      </div>

      <div class="buying-terms-content-item">
        - Tùy từng thời điểm, có quyền điều chỉnh các Điều khoản và Điều kiện
        này bằng cách thông báo trên Website STUDY10.com.
      </div>

      <div class="buying-terms-content-item">
        - Các vấn đề phát sinh trong giao dịch trên https://study10.com giữa
        STUDY10 và Quý khách nếu không được quy định trong Bản Điều khoản và
        Điều kiện này sẽ được điều chỉnh bởi pháp luật Việt Nam.
      </div>

      <h2>4. Quyền và nghĩa vụ của STUDY10</h2>
      <div class="buying-terms-content-item">
        - Cung cấp đầy đủ thông tin giới thiệu về từng sản phẩm, dịch vụ cụ thể.
      </div>

      <div class="buying-terms-content-item">
        - Tư vấn đầy đủ thông tin liên quan đến sản phẩm, dịch vụ, bao gồm thông
        tin giá cả, điều kiện giao dịch, hình thức thanh toán, hậu mãi và các
        yêu cầu liên quan khác của Quý khách.
      </div>

      <div class="buying-terms-content-item">
        - Hướng dẫn Quý khách cách sử dụng sản phẩm, dịch vụ sau khi mua và
        trong suốt quá trình sử dụng sản phẩm.
      </div>

      <div class="buying-terms-content-item">
        - Có chính sách chăm sóc khách hàng sau khi Quý khách mua các sản phẩm,
        dịch vụ.
      </div>

      <div class="buying-terms-content-item">
        - Cam kết sản phẩm trên Website đáp ứng đầy đủ các điều kiện theo quy
        chuẩn của STUDY10 và quy định có liên quan của Pháp Luật, không thuộc
        trường hợp các mặt hàng cấm giao dịch.
      </div>

      <div class="buying-terms-content-item">
        - Không chuyển nhượng, chuyển giao các quyền và nghĩa vụ theo Bản Điều
        khoản và Điều kiện này cho bất kỳ bên thứ ba nào nếu Quý khách không
        đồng ý.
      </div>

      <div class="buying-terms-content-item">
        - Tuân thủ quy định của Bản Điều khoản và Điều kiện này.
      </div>

      <div class="buying-terms-content-item">
        - Có quyền yêu cầu Quý khách cung cấp đầy đủ các thông tin về nhu cầu,
        họ tên, địa chỉ, số điện thoại cùng các thông tin liên quan khác để phục
        vụ cho quá trình cung cấp sản phẩm, dịch vụ.
      </div>

      <h2>5. Quyền và nghĩa vụ của Quý khách</h2>
      <div class="buying-terms-content-item">
        - Cung cấp đầy đủ các thông tin về nhu cầu, mục đích, mục tiêu sử
        dụng…và các điều kiện khác (nếu có) cùng các yêu cầu cần thiết để bộ
        phận kinh doanh của STUDY10 tư vấn đúng, chính xác các sản phẩm, dịch vụ
        phù hợp nhất với Quý khách.
      </div>

      <div class="buying-terms-content-item">
        - Đăng ký sử dụng sản phẩm, dịch vụ từ tài khoản do Quý khách tạo lập
        thông qua website của STUDY10, hoặc qua các công cụ trực tuyến chính
        thức của STUDY10 hoặc được STUDY10 cấp
      </div>

      <div class="buying-terms-content-item">
        - Bảo đảm rằng mọi giao dịch thực hiện thông qua tài khoản của Quý khách
        được thực hiện bởi chính Quý khách hoặc người được ủy quyền hợp pháp của
        mình, đồng thời, thừa nhận tính pháp lý và ràng buộc của tất cả các giao
        dịch được thực hiện thông qua tài khoản này, bao gồm nhưng không giới
        hạn giao dịch mua hàng, yêu cầu dịch vụ và thanh toán.
      </div>

      <div class="buying-terms-content-item">
        - Không cho thuê, cho mượn hoặc chuyển nhượng tài khoản của mình cho bất
        kỳ bên nào mà không có sự chấp thuận của STUDY10.
      </div>

      <div class="buying-terms-content-item">
        - Có trách nhiệm bảo mật tuyệt đối thông tin tài khoản mà mình được cấp.
        STUDY10 sẽ không chịu trách nhiệm về mọi vấn đề phát sinh và rủi ro từ
        việc Quý khách tiết lộ thông tin tài khoản cho bất kỳ bên nào. Trong một
        chừng mực nào đó do STUDY10 đánh giá, nếu mức độ rủi ro do việc tiết lộ
        thông tin về tài khoản của Quý khách gây ảnh hưởng với việc cung cấp
        dịch vụ của STUDY10, STUDY10 có quyền đơn phương tạm ngưng cung cấp dịch
        vụ cho Quý khách cho đến khi rủi ro này và hậu quả do rủi ro gây ra được
        khắc phục hoàn toàn.
      </div>

      <div class="buying-terms-content-item">
        - Nhằm giúp bạn học có thể tiện lợi học mọi lúc, mọi nơi, STUDY10 hỗ trợ
        bạn đăng nhập và sử dụng tài khoản trên tối đa 3 thiết bị. Tại cùng một
        thời điểm, bạn có thể truy cập vào khóa học trên 1 thiết bị. Để đảm bảo
        an toàn và bảo mật tài khoản cho bạn, nếu STUDY10 phát hiện tài khoản
        đăng nhập quá số thiết bị hỗ trợ, hệ thống sẽ nhắc nhở và sau đó sẽ tự
        động khóa tài khoản nếu tiếp tục phát hiện hành vi cố tình vi phạm.
      </div>

      <div class="buying-terms-content-item">
        - Cùng thực hiện mọi vấn đề do hai bên thỏa thuận, trên tinh thần hợp
        tác, tự nguyện.
      </div>

      <div class="buying-terms-content-item">
        - Cung cấp cho STUDY10 đầy đủ thông tin như họ tên, địa chỉ, số điện
        thoại khi Quý khách có nhu cầu nhận ấn phẩm, quà tặng bằng hiện vật hay
        cần tư vấn theo phân loại khu vực.
      </div>

      <div class="buying-terms-content-item">
        - Thanh toán cho STUDY10 đầy đủ theo quy định nêu tại Bản Điều khoản và
        Điều kiện này.
      </div>

      <div class="buying-terms-content-item">
        - Sử dụng sản phẩm, dịch vụ của STUDY10 theo các quy tắc được nêu dưới
        đây. STUDY10 có thể giám sát việc Quý khách sử dụng các sản phẩm, dịch
        vụ để đảm bảo Quý khách đang tuân thủ theo các quy tắc này:
      </div>

      <div class="buying-terms-content-item">
        - Quý khách sử dụng tài khoản hợp lệ khi truy cập vào ứng dụng liên quan
        đến dịch vụ và thực hiện theo hướng dẫn của ứng dụng. Quý khách không
        chia sẻ tài khoản của mình cho người khác hoặc cố tình đăng nhập vượt
        quá số lượng thiết bị mà STUDY10 hỗ trợ
      </div>

      <div class="buying-terms-content-item">
        - Trong trường hợp Quý khách vi phạm quy tắc sử dụng nêu trên, STUDY10
        có quyền đơn phương tạm ngưng cung cấp dịch vụ cho Quý khách cho đến khi
        những vi phạm này và hậu quả do những vi phạm này gây ra được chấm dứt
        và khắc phục hoàn toàn.
      </div>

      <h2>6. Giá Chương trình, phí Gói dịch vụ</h2>
      <div class="buying-terms-content-item">
        - Giá bán Chương trình/ Khóa học/ Tài liệu và Phí sử dụng Gói dịch vụ sẽ
        được STUDY10 thông báo công khai trên website https://study10.com
      </div>

      <div class="buying-terms-content-item">
        - Trong trường hợp phí Gói dịch vụ được tính theo tuần, tháng, quý, năm
        hoặc nhiều năm, STUDY10 sẽ không hoàn phí nếu Quý khách tự ý chấm dứt
        việc sử dụng dịch vụ trước hạn.
      </div>

      <div class="buying-terms-content-item">
        - STUDY10, tùy theo quyết định riêng của mình, có thể cung cấp một số
        dịch vụ miễn phí cho Quý khách vào từng thời điểm.
      </div>

      <div class="buying-terms-content-item">
        - STUDY10 sẽ cung cấp hóa đơn theo quy định của pháp luật về mua hàng
        hóa, dịch vụ bằng hóa đơn điện tử.
      </div>

      <h2>7. Thương hiệu và Bản Quyền</h2>
      <div class="buying-terms-content-item">
        - Nghiêm cấm sử dụng bất kỳ nội dung nào của Website này với mục đích
        thương mại hoặc nhân danh bất kỳ đối tác thứ ba nào nếu không được
        STUDY10 cho phép bằng văn bản.
      </div>

      <div class="buying-terms-content-item">
        - Không được phép sửa đổi, sao chép, ghi lại bộ nhớ điện tử, chuyển
        dịch, mô phỏng, phát tán, sử dụng vì các mục đích thương mại hay công
        cộng bất kỳ phần nào của những dữ liệu, nội dung này mà không được
        STUDY10 chấp thuận trước bằng văn bản.
      </div>

      <div class="buying-terms-content-item">
        - Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung
        thông tin và tất cả các thiết kế, văn bản, đồ họa, phần mềm, hình ảnh,
        video, âm thanh, mã nguồn, phần mềm cơ bản trên Website
        https://study10.com và các công cụ trực tuyến chính thức của STUDY10
        cùng tên thương hiệu đều là tài sản thuộc quyền sở hữu của Công ty.
      </div>

      <div class="buying-terms-content-item">
        - Chúng tôi sẽ khởi kiện ra Tòa án có thẩm quyền để giải quyết nếu Vi
        Phạm.
      </div>

      <h2>8. Điều Khoản Chung</h2>
      <div class="buying-terms-content-item">
        - Toàn bộ các khóa học online trên STUDY10.com được cung cấp ngay sau
        khi thanh toán trực tuyến được xác nhận thành công, không phát sinh vận
        chuyển và giao nhận
      </div>

      <div class="buying-terms-content-item">
        - Các khóa học được mua tại Website https://study10.com chỉ được sử dụng
        cho một người duy nhất, không được đổi/ trả và sang nhượng.
      </div>

      <div class="buying-terms-content-item">
        - Khóa học được cung cấp trên https://study10.com không bị gián đoạn, dù
        người học học ở bất cứ đâu và ở thời điểm nào.
      </div>

      <div class="buying-terms-content-item">
        - Nếu bất kỳ nội dung nào của Điều Khoản và Điều Kiện này bị bất kỳ cơ
        quan có thẩm quyền xem là vô hiệu hoặc không thể thực hiện toàn bộ hoặc
        một phần, thì tính hiệu lực của các nội dung khác trong Điều Khoản và
        Điều Kiện này sẽ không bị ảnh hưởng.
      </div>
    </div>
  </div>
</div>
