<div class="about-wrapper">
  <div class="about-container">
    <h1>Về chúng tôi</h1>
    <div class="about-content">
      <p>
        STUDY10 là một trong những thương hiệu cung cấp phần mềm tự học tiếng
        Anh trực tuyến uy tín nhất cho người dùng tại Việt Nam. Với quy trình
        nghiên cứu chuyên sâu của nhiều chuyên gia có kinh nghiệm, Chúng tôi
        cung cấp cho người dùng phần mềm tự học tiếng Anh với giao diện thân
        thiện, dễ sử dụng và các phần thi được thiết kế với bố cục, thời lượng
        tương tự như kỳ thi tiếng Anh thực tế với số lượng đề thi khủng được thu
        thập từ các nguồn uy tín. Nhờ đó người dùng có thể tự ôn tập, luyện thi
        cấp tốc để chuẩn bị cho các kỳ thi tiếng Anh quan trọng như IELTS,
        TOEIC,… đồng thời rèn luyện các kỹ năng ngôn ngữ một cách toàn diện
        nhất.
      </p>

      <br />

      <h2>Thông tin doanh nghiệp</h2>
      <div>Công ty chủ quản: Công ty TNHH Công Nghệ A Plus</div>
      <div>Giấy đăng ký kinh doanh (cấp 17/06/2021): 0109675459</div>
      <div>Địa chỉ: 273 An Dương Vương, Phường 03, Quận 05, Hồ Chí Minh</div>
    </div>

    <br />
    <br />
    <p>
      Xin vui lòng liên hệ với chúng tôi nếu bạn có bất cứ thắc mắc hay góp ý
      nào.
    </p>
  </div>
</div>
