<div class="toeic-wrapper">
  <div class="toeic-container">
    <h1>Tính điểm thi TOEIC</h1>

    <ul class="nav nav-pills">
      <li
        class="nav-item"
        [ngClass]="{ active: activeNavItem === 'overall' }"
        (click)="handleNavItem('overall')"
      >
        Tính điểm overall
      </li>
      <li
        class="nav-item"
        [ngClass]="{
          active: activeNavItem === 'table-score-listening'
        }"
        (click)="handleNavItem('table-score-listening')"
      >
        Bảng tính điểm Listening
      </li>

      <li
        class="nav-item"
        [ngClass]="{
          active: activeNavItem === 'table-score-reading'
        }"
        (click)="handleNavItem('table-score-reading')"
      >
        Bảng tính điểm Reading
      </li>
    </ul>

    <br />

    <div class="tab-content">
      <div class="tab-pane" *ngIf="activeNavItem === 'overall'">
        <form
          class="calculate-toeic-form"
          [formGroup]="calculateToeicForm"
          (ngSubmit)="calculate()"
        >
          <mat-form-field>
            <mat-label>Listening</mat-label>
            <input
              matInput
              placeholder="Nhập điểm của bạn ..."
              formControlName="listening"
              name="listening"
              #listeningField="matInput"
            />
            <mat-error
              *ngIf="
                calculateToeicForm.controls['listening'].hasError('required')
              "
            >
              Vui lòng nhập điểm của bạn
            </mat-error>
            <mat-error
              *ngIf="
                calculateToeicForm.controls['listening'].hasError('pattern')
              "
            >
              Vui lòng chỉ nhập số
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Reading</mat-label>
            <input
              matInput
              placeholder="Nhập điểm của bạn ..."
              formControlName="reading"
              name="reading"
            />
            <mat-error
              *ngIf="calculateToeicForm.controls['reading'].hasError('reading')"
            >
              Vui lòng nhập điểm của bạn
            </mat-error>
            <mat-error
              *ngIf="calculateToeicForm.controls['reading'].hasError('pattern')"
            >
              Vui lòng chỉ nhập số
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Writing</mat-label>
            <input
              matInput
              placeholder="Nhập điểm của bạn ..."
              formControlName="writing"
              name="writing"
            />
            <mat-error
              *ngIf="
                calculateToeicForm.controls['writing'].hasError('required')
              "
            >
              Vui lòng nhập điểm của bạn
            </mat-error>
            <mat-error
              *ngIf="calculateToeicForm.controls['writing'].hasError('pattern')"
            >
              Vui lòng chỉ nhập số
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Speaking</mat-label>
            <input
              matInput
              placeholder="Nhập điểm của bạn ..."
              formControlName="speaking"
              name="speaking"
            />
            <mat-error
              *ngIf="
                calculateToeicForm.controls['speaking'].hasError('required')
              "
            >
              Vui lòng nhập điểm của bạn
            </mat-error>
            <mat-error
              *ngIf="
                calculateToeicForm.controls['speaking'].hasError('pattern')
              "
            >
              Vui lòng chỉ nhập số
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary">Tính điểm</button>
        </form>

        <p class="contentblock">
          Điểm overall của bạn là:
          <span>235</span>
        </p>
      </div>

      <div class="tab-pane" *ngIf="activeNavItem === 'table-score-listening'">
        <p class="table-name">TOEIC Listening</p>

        <table mat-table [dataSource]="dataListening" id="listening">
          <ng-container matColumnDef="rawScore">
            <th mat-header-cell *matHeaderCellDef>Raw score</th>
            <td mat-cell *matCellDef="let element">
              {{ element.rawScore }}
            </td>
          </ng-container>

          <ng-container matColumnDef="scaledScore">
            <th mat-header-cell *matHeaderCellDef>Scaled score</th>
            <td mat-cell *matCellDef="let element">
              {{ element.scaledScore }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="tab-pane" *ngIf="activeNavItem === 'table-score-reading'">
        <p class="table-name">TOEIC Reading</p>

        <table mat-table [dataSource]="dataListening" id="listening">
          <ng-container matColumnDef="rawScore">
            <th mat-header-cell *matHeaderCellDef>Raw score</th>
            <td mat-cell *matCellDef="let element">
              {{ element.rawScore }}
            </td>
          </ng-container>

          <ng-container matColumnDef="scaledScore">
            <th mat-header-cell *matHeaderCellDef>Scaled score</th>
            <td mat-cell *matCellDef="let element">
              {{ element.scaledScore }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
