<div class="course-item-container">
  <div class="course-item-left">
    <div class="course-item-wrapper">
      <h1>TOEIC</h1>
      <div class="course-item-wrapper-toeic">
        <mat-card class="course-item-content">
          <img
            class="course-item-img"
            mat-card-image
            src="https://i.ibb.co/JtKW5vt/combo-toeic.jpg"
            alt="combo-toeic"
          />
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                Combo khoá học IELTS Intensive [Tặng khoá TED Talks]
              </mat-card-title>
              <mat-card-subtitle>
                <span class="course-student">
                  <span class="course-student-star">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                  </span>
                  <span class="course-student-total">38,171 Học viên</span>
                </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="course-tag">#Khóa học online </span>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <span class="course-cost">
                  <span class="course-cost-new">1.525.000đ</span>
                  <span class="course-cost-old"> 3.596.000đ </span>
                  <span class="course-cost-discount">-57%</span>
                </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>

        <mat-card class="course-item-content">
          <img
            class="course-item-img"
            mat-card-image
            src="https://i.ibb.co/JtKW5vt/combo-toeic.jpg"
            alt="combo-toeic"
          />
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                Combo Advanced IELTS Intensive kèm chấm chữa giáo viên bản ngữ
                [Tặng khoá TED Talks] Khoá học online
              </mat-card-title>
              <mat-card-subtitle>
                <span class="course-student">
                  <span class="course-student-star">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                  </span>
                  <span class="course-student-total">46,833 Học viên</span>
                </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="course-tag">#Khóa học online </span>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <span class="course-cost">
                  <span class="course-cost-new">2.925.000đ</span>
                  <span class="course-cost-old"> 5.236.000đ </span>
                  <span class="course-cost-discount">-45%</span>
                </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>

        <mat-card class="course-item-content">
          <img
            class="course-item-img"
            mat-card-image
            src="https://i.ibb.co/JtKW5vt/combo-toeic.jpg"
            alt="combo-toeic"
          />
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                Combo khóa học IELTS lộ trình 0-7+ kèm chấm chữa giáo viên bản
                ngữ [Tặng khóa TED Talks]
              </mat-card-title>
              <mat-card-subtitle>
                <span class="course-student">
                  <span class="course-student-star">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                  </span>
                  <span class="course-student-total">63,168 Học viên</span>
                </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="course-tag">#Khóa học online </span>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <span class="course-cost">
                  <span class="course-cost-new">3.325.000đ</span>
                  <span class="course-cost-old"> 6.245.000đ </span>
                  <span class="course-cost-discount">-46%</span>
                </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>

        <mat-card class="course-item-content">
          <img
            class="course-item-img"
            mat-card-image
            src="https://i.ibb.co/JtKW5vt/combo-toeic.jpg"
            alt="combo-toeic"
          />
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                Trọn bộ 3 khoá học thực hành tiếng Anh online - Practical
                English [Tặng khoá TED Talks]
              </mat-card-title>
              <mat-card-subtitle>
                <span class="course-student">
                  <span class="course-student-star">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                  </span>
                  <span class="course-student-total">38,171 Học viên</span>
                </span>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <span class="course-tag">#Khóa học online </span>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <span class="course-cost">
                  <span class="course-cost-new">989.000đ</span>
                  <span class="course-cost-old"> 2.097.000đ </span>
                  <span class="course-cost-discount">-52%</span>
                </span>
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="course-item-paginator">
      <app-paginator></app-paginator>
    </div>
  </div>

  <div class="course-item-right"><app-sidebar></app-sidebar></div>
</div>
