<div class="privacy-wrapper">
  <div class="privacy-container">
    <h1>Điều khoản bảo mật</h1>
    <div class="privacy-content">
      <p>Cập nhật lần cuối ngày 01/12/2023</p>
      <p>STUDY10 điều hành trang web STUDY10, cung cấp dịch vụ.</p>
      <p>
        Trang này được sử dụng để thông báo cho khách truy cập trang web về
        chính sách của chúng tôi với việc thu thập, sử dụng và tiết lộ Thông tin
        cá nhân nếu có ai quyết định sử dụng Dịch vụ của chúng tôi, trang web
        STUDY10.
      </p>
      <p>
        Nếu bạn chọn sử dụng Dịch vụ của chúng tôi, thì bạn đồng ý với việc thu
        thập và sử dụng thông tin liên quan đến chính sách này. Thông tin Cá
        nhân mà chúng tôi thu thập được sử dụng để cung cấp và cải thiện Dịch
        vụ. Chúng tôi sẽ không sử dụng hoặc chia sẻ thông tin của bạn với bất kỳ
        ai trừ khi được mô tả trong Chính sách bảo mật này.
      </p>
      <p>
        Các điều khoản được sử dụng trong Chính sách bảo mật này có cùng ý nghĩa
        như trong Điều khoản và điều kiện của chúng tôi, có thể truy cập tại
        STUDY10, trừ khi được quy định khác trong Chính sách bảo mật này.
      </p>

      <h2>1. Thu thập và sử dụng thông tin</h2>
      <div class="privacy-content-item">
        Để có trải nghiệm tốt hơn khi sử dụng Dịch vụ của chúng tôi, chúng tôi
        có thể yêu cầu bạn cung cấp cho chúng tôi thông tin nhận dạng cá nhân
        nhất định, bao gồm nhưng không giới hạn tên, số điện thoại và địa chỉ
        bưu điện của bạn. Thông tin mà chúng tôi thu thập sẽ được sử dụng để
        liên hệ hoặc nhận dạng bạn.
      </div>

      <h2>2. Dữ liệu nhật ký</h2>
      <div class="privacy-content-item">
        Chúng tôi muốn thông báo cho bạn rằng bất cứ khi nào bạn truy cập Dịch
        vụ của chúng tôi, chúng tôi thu thập thông tin mà trình duyệt của bạn
        gửi cho chúng tôi được gọi là Dữ liệu nhật ký. Dữ liệu nhật ký này có
        thể bao gồm thông tin như địa chỉ Giao thức Internet ("IP") của máy
        tính, phiên bản trình duyệt, trang Dịch vụ của chúng tôi mà bạn truy
        cập, thời gian và ngày truy cập, thời gian trên các trang đó và các
        thống kê khác.
      </div>

      <h2>3. Cookie</h2>
      <div class="privacy-content-item">
        Cookie là các tệp có lượng dữ liệu nhỏ thường được sử dụng một số nhận
        dạng duy nhất ẩn danh. Chúng được gửi đến trình duyệt của bạn từ trang
        web mà bạn truy cập và được lưu trữ trên ổ cứng máy tính của bạn.
      </div>
      <div class="privacy-content-item">
        Trang web của chúng tôi sử dụng "cookies" này để thu thập thông tin và
        cải thiện Dịch vụ của chúng tôi. Bạn có tùy chọn chấp nhận hoặc từ chối
        các cookie này và biết thời điểm cookie được gửi đến máy tính của bạn.
        Nếu bạn chọn từ chối cookie của chúng tôi, bạn có thể không sử dụng được
        một số phần của Dịch vụ của chúng tôi.
      </div>

      <h2>4. Các nhà cung cấp dịch vụ</h2>
      <div class="privacy-content-item">
        Chúng tôi có thể sử dụng các công ty và cá nhân của bên thứ ba do các lý
        do sau:
      </div>

      <ul>
        <li>Để tạo điều kiện cho Dịch vụ của chúng tôi;</li>
        <li>Để cung cấp Dịch vụ thay mặt chúng tôi;</li>
        <li>Để thực hiện các dịch vụ liên quan đến dịch vụ; hoặc là</li>
        <li>
          Để hỗ trợ chúng tôi trong việc phân tích cách sử dụng Dịch vụ của
          chúng tôi.
        </li>
      </ul>

      <div class="privacy-content-item">
        Chúng tôi muốn thông báo cho người dùng Dịch vụ của chúng tôi rằng các
        bên thứ ba này có quyền truy cập vào Thông tin cá nhân của bạn. Lý do là
        để thực hiện các nhiệm vụ được giao cho họ thay mặt chúng tôi. Tuy
        nhiên, họ có nghĩa vụ không tiết lộ hoặc sử dụng thông tin cho bất kỳ
        mục đích nào khác.
      </div>

      <h2>5. Bảo vệ</h2>
      <div class="privacy-content-item">
        Chúng tôi coi trọng sự tin tưởng của bạn trong việc cung cấp cho chúng
        tôi Thông tin cá nhân của bạn, do đó chúng tôi đang nỗ lực sử dụng các
        phương tiện bảo vệ thương mại có thể chấp nhận được. Nhưng hãy nhớ rằng
        không có phương pháp truyền qua internet, hoặc phương pháp lưu trữ điện
        tử là 100% an toàn và đáng tin cậy, và chúng tôi không thể đảm bảo an
        ninh tuyệt đối của nó.
      </div>

      <h2>5. Bảo vệ</h2>
      <div class="privacy-content-item">
        Chúng tôi coi trọng sự tin tưởng của bạn trong việc cung cấp cho chúng
        tôi Thông tin cá nhân của bạn, do đó chúng tôi đang nỗ lực sử dụng các
        phương tiện bảo vệ thương mại có thể chấp nhận được. Nhưng hãy nhớ rằng
        không có phương pháp truyền qua internet, hoặc phương pháp lưu trữ điện
        tử là 100% an toàn và đáng tin cậy, và chúng tôi không thể đảm bảo an
        ninh tuyệt đối của nó.
      </div>

      <h2>6. Liên kết đến các trang web khác</h2>
      <div class="privacy-content-item">
        Dịch vụ của chúng tôi có thể chứa các liên kết đến các trang web khác.
        Nếu bạn nhấp vào liên kết của bên thứ ba, bạn sẽ được chuyển hướng đến
        trang web đó. Lưu ý rằng các trang web bên ngoài này không do chúng tôi
        điều hành. Do đó, chúng tôi khuyên bạn nên xem lại Chính sách bảo mật
        của các trang web này. Chúng tôi không có quyền kiểm soát và không chịu
        trách nhiệm về nội dung, chính sách bảo mật hoặc thực tiễn của bất kỳ
        trang web hoặc dịch vụ nào của bên thứ ba.
      </div>

      <h2>7. Quyền riêng tư của trẻ em</h2>
      <div class="privacy-content-item">
        Chúng tôi không cố ý thu thập thông tin nhận dạng cá nhân từ trẻ em dưới
        13 tuổi. Trong trường hợp chúng tôi phát hiện ra rằng trẻ em dưới 13
        tuổi đã cung cấp cho chúng tôi thông tin cá nhân, chúng tôi sẽ xóa ngay
        thông tin này khỏi máy chủ của chúng tôi. Nếu bạn là cha mẹ hoặc người
        giám hộ và bạn biết rằng con bạn đã cung cấp cho chúng tôi thông tin cá
        nhân, vui lòng liên hệ với chúng tôi để chúng tôi có thể thực hiện các
        hành động cần thiết.
      </div>

      <h2>8. Thay đổi chính sách bảo mật này</h2>
      <div class="privacy-content-item">
        Đôi khi, chúng tôi có thể cập nhật Chính sách bảo mật của mình. Do đó,
        chúng tôi khuyên bạn nên xem lại trang này định kỳ cho bất kỳ thay đổi
        nào. Chúng tôi sẽ thông báo cho bạn về bất kỳ thay đổi nào bằng cách
        đăng Chính sách bảo mật mới trên trang này. Những thay đổi này có hiệu
        lực ngay lập tức, sau khi chúng được đăng trên trang này.
      </div>

      <h2>9. Yêu cầu xóa dữ liệu</h2>
      <div class="privacy-content-item">
        Nếu bạn có nhu cầu xóa dư liệu bao gồm các thông tin tài khoản của bạn
        như tên, email, và các thông tin khác được lưu trong cơ sở dữ liệu của
        STUDY10, bạn có thể gửi email cho chúng tôi tới
        study10.team&#64;gmail.com để được hỗ trợ xóa tài khoản trong thời gian
        không quá 48 tiếng sau khi gửi yêu cầu.
      </div>

      <h2>10. Liên hệ chúng tôi</h2>
      <div class="privacy-content-item">
        Nếu bạn có bất kỳ câu hỏi hoặc đề xuất nào về Chính sách bảo mật của
        chúng tôi, đừng ngần ngại liên hệ với chúng tôi.
      </div>
    </div>
  </div>
</div>
