.detail {
  &-wrapper {
    width: 100%;
  }

  &-content {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    width: 100%;

    &-container {
      width: 100%;
    }

    &-image {
      position: relative;
      background-image: url("../../../../assets/img/course-detail.avif");
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      z-index: 0;
      background-color: #35509a;
      box-sizing: border-box;
    }

    &-header {
      padding: 0.775rem 0.775rem 0.775rem;
      max-width: 1270px;
      width: 100%;
      color: white;
      margin-left: auto;
      margin-right: auto;
      min-height: 300px;
    }
  }

  &-header {
    max-width: 1270px;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  &-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.5;

    &-item {
      display: flex;
      justify-items: center;
      gap: 10px;
      margin-bottom: 2px;
    }
  }

  &-student {
    display: flex;
    margin-top: 1rem;
    gap: 3px;
    font-size: 1rem;
    font-weight: 600;

    &-total {
      color: white;
    }
  }

  &-tag {
    margin-top: 8px;
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 15px;
    text-align: left;
    background-color: #f0f8ff;
    color: #35509a;
    cursor: pointer;
  }

  &-slug {
    width: 100%;
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.775rem 0.775rem;
  }
}

.content {
  &-wrapper {
    padding-left: 0.775rem;
    padding-right: 0.775rem;
    padding-top: 2rem;
  }
}

.content {
  &-wrapper {
    display: flex;
    gap: 3rem;
    flex-direction: column;
  }
}

.title {
  font-weight: 600;
  margin-bottom: 0.8rem;
  line-height: 1.35;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

mat {
  &-form-field {
    display: flex;
  }

  &-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: black !important;
    background-color: none !important;

    &:hover {
      color: #1d4ed8 !important;
    }
  }
}

.container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.icon {
  &-check-circle {
    color: rgb(15, 220, 15) !important;
    flex-shrink: 0;
  }

  &-star {
    color: #ffad3b !important;
    flex-shrink: 0;
  }

  &-course-sidebar-item {
    color: #6e8ad6 !important;
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    font-size: 27px;
  }
}

.star-number {
  color: #ffad3b !important;
}

.nav {
  &-tabs {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-bottom: -1px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &-item {
    min-width: 100px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    color: grey;
    font-weight: 500;
    text-align: center;
    height: 30px;
    font-size: 1rem;
    margin-right: 2.5rem;
    white-space: nowrap;
    min-width: 120px;
  }

  &-item:hover {
    color: #35509a;
    position: relative;
  }

  &-item.active {
    color: #1d4ed8;
  }
}

.course {
  &-objectives,
  &-series-items,
  &-information,
  &-curriculum,
  &-sidebar {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.65rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 0 0 rgba(143, 156, 173, 0.2);
  }

  &-curriculum {
    background-color: rgb(240, 255, 255);
  }

  &-objectives {
    &-items {
      display: flex;
      gap: 10px;

      &-left,
      &-right {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        line-height: 1.3;
        gap: 7px;
      }
    }
  }

  &-series {
    &-items {
      li {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }

  &-method {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &-description {
    p {
      font-size: 1rem;
    }
  }

  &-sidebar {
    &-img {
      max-height: 200px;
      width: 100%;
      height: 100%;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
    }
  }

  &-cost {
    white-space: nowrap;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    &-previous {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &-new {
      font-size: 1.8rem;
      font-weight: 600;
      color: #3cb46e;
      margin-right: 0.3rem;
    }

    &-old {
      font-size: 1rem;
      text-decoration: line-through;
      margin-right: 0.5rem;
    }

    &-saving {
      color: #fff;
      background-color: #e43a45;
      padding: 2px 7px;
      border-radius: 6px;
    }
  }
}

h5 {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 600;
}

h1 {
  font-weight: 600;
}

.series-items-text {
  color: #35509a;
  text-decoration: none;
  background-color: transparent;
}

blockquote {
  background-color: rgba(55, 125, 255, 0.1);
  border-left: 5px solid rgba(55, 125, 255, 0.582);
  padding: 1.25em 1.5em;
  margin: auto 0 3rem 0;

  p,
  li {
    font-style: italic;
    font-size: 1rem;
  }
}

.series {
  &-curriculum {
    &-course {
      display: flex;
      margin-top: 1.5rem;
      box-sizing: border-box;

      &-number {
        font-size: 0.95rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #677788;
        text-align: center;
        width: 100px;
        flex-shrink: 0;
        margin-right: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5;

        &-index {
          font-size: 1.5rem;
        }
      }

      &-content {
        h3 {
          color: #35509a;
          text-decoration: none;
          background-color: transparent;
          font-size: 1.3rem;
          font-weight: 600;
        }
      }
    }
  }

  &-student {
    display: flex;
    margin-top: 1rem;
    gap: 3px;
    font-size: 1rem;

    &-total {
      color: rgb(98, 94, 94);
      margin-left: 3rem;
    }
  }
}

hr {
  background-color: #e0e0e0;
  border: none;
  height: 1px;
}

.btn-apply {
  width: 100%;
  margin-top: 1.5rem;
}

@media (max-width: 767px) {
  .title {
    font-size: 1.4rem;
    padding-top: 0;
  }

  .detail {
    &-student {
      box-sizing: border-box;
    }
  }

  .course {
    &-objectives {
      &-items {
        flex-direction: column;
      }
    }
  }

  .series {
    &-curriculum {
      &-course {
        flex-direction: column;

        &-number {
          display: flex;
          white-space: nowrap;
          gap: 7px;
          align-items: center;
          margin-bottom: 10px;
        }
      }
    }
  }
}
