.sign {
  &-in {
    &-wrapper {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
      margin-top: 3rem;
    }

    &-btn {
      background-color: #35509a !important;
      margin-top: 22px !important;
    }
  }

  &-up {
    &-link {
      color: #35509a;
      font-size: 15px;
      margin-top: 30px;
      cursor: pointer;
      width: fit-content;

      &:hover {
        color: black;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
      }
    }
  }
}

form {
  border: 1px solid lightgrey;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

mat {
  &-label {
    font-size: 1rem;
  }

  &-hint {
    font-style: italic;
    font-size: 14px !important;
    color: lightgrey;
  }
}

.header {
  font-size: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo {
  width: 70px;
  height: 50px;
  border-radius: 6px;
}

button {
  margin-top: 15px;
}

@media (max-width: 599px) {
  .header {
    flex-direction: column;
  }

  .logo {
    display: none;
  }
}
