<div class="blog-wrapper">
  <div class="blog-container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Trang chủ</li>
        <li class="breadcrumb-item active">Bài viết</li>
      </ol>
    </nav>

    <div class="image-wrapper">
      <img src="https://i.ibb.co/0MZzH9h/profile-bg.jpg" alt="" />
    </div>

    <h1>BÀI VIẾT</h1>

    <div class="blog-content-wrapper">
      <div class="blog-content-container">
        <div class="row">
          <div class="row-item-3">
            <app-sidebar></app-sidebar>
          </div>

          <div class="row-item-2">
            <div class="post-wrapper">
              <div class="center">
                <div class="post-search"><app-search></app-search></div>

                <div class="posts-list">
                  <div class="postlist-card">
                    <div class="postlist-card-img">
                      <img
                        src="https://i.ibb.co/YfKgRMz/combo-ielts.jpg"
                        alt=""
                      />
                    </div>
                    <div class="postlist-card-content-wrapper">
                      <span class="post-topic">IELTS SPEAKING</span>
                      <div class="postlist-title-wrapper">
                        Bộ đề dự đoán IELTS Speaking Forecast Quý 1/2024 & Bài
                        mẫu (Đang cập nhật)
                      </div>
                      <div class="postlist-card-content">
                        Trong bài viết này, STUDY10 đã tổng hợp các topic IELTS
                        Speaking có khả năng rơi vào kỳ thi thuộc Quý 1/2024
                        (tháng 1 đến tháng 4).
                        <div class="postlist-meta">
                          10/01/2024 bởi Minh Trang
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="postlist-card">
                    <div class="postlist-card-img">
                      <img
                        src="https://i.ibb.co/YfKgRMz/combo-ielts.jpg"
                        alt=""
                      />
                    </div>
                    <div class="postlist-card-content-wrapper">
                      <span class="post-topic">IELTS Writing</span>
                      <div class="postlist-title-wrapper">
                        Bộ đề dự đoán IELTS Writing Forecast Quý 1/2024 & Bài
                        mẫu (Đang cập nhật)
                      </div>
                      <div class="postlist-card-content">
                        Trong bài viết này, STUDY10 đã tổng hợp các topic IELTS
                        Speaking có khả năng rơi vào kỳ thi thuộc Quý 1/2024
                        (tháng 1 đến tháng 4).
                        <div class="postlist-meta">
                          10/01/2024 bởi Minh Trang
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="postlist-card">
                    <div class="postlist-card-img">
                      <img
                        src="https://i.ibb.co/YfKgRMz/combo-ielts.jpg"
                        alt=""
                      />
                    </div>
                    <div class="postlist-card-content-wrapper">
                      <span class="post-topic">IELTS READING</span>
                      <div class="postlist-title-wrapper">
                        Bộ đề dự đoán IELTS Reading Forecast Quý 1/2024 & Bài
                        mẫu (Đang cập nhật)
                      </div>
                      <div class="postlist-card-content">
                        Trong bài viết này, STUDY10 đã tổng hợp các topic IELTS
                        Speaking có khả năng rơi vào kỳ thi thuộc Quý 1/2024
                        (tháng 1 đến tháng 4).
                        <div class="postlist-meta">
                          10/01/2024 bởi Minh Trang
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="postlist-card">
                    <div class="postlist-card-img">
                      <img
                        src="https://i.ibb.co/YfKgRMz/combo-ielts.jpg"
                        alt=""
                      />
                    </div>
                    <div class="postlist-card-content-wrapper">
                      <span class="post-topic">IELTS Listening</span>
                      <div class="postlist-title-wrapper">
                        Bộ đề dự đoán IELTS Listening Forecast Quý 1/2024 & Bài
                        mẫu (Đang cập nhật)
                      </div>
                      <div class="postlist-card-content">
                        Trong bài viết này, STUDY10 đã tổng hợp các topic IELTS
                        Speaking có khả năng rơi vào kỳ thi thuộc Quý 1/2024
                        (tháng 1 đến tháng 4).
                        <div class="postlist-meta">
                          10/01/2024 bởi Minh Trang
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <app-paginator></app-paginator>
              </div>
            </div>
          </div>

          <div class="row-item-1">
            <div class="post-topics-list">
              <p class="post-title">Chuyên mục</p>
              <div class="post-topics-listitem">Luyện thi IELTS</div>
              <div class="post-topics-listitem-sub">IELTS Listening</div>
              <div class="post-topics-listitem-sub">IELTS Reading</div>
              <div class="post-topics-listitem-sub">IELTS Speaking</div>
              <div class="post-topics-listitem-sub">IELTS Writing</div>
              <div class="post-topics-listitem-sub">IELTS Materials</div>
              <div class="post-topics-listitem-sub">Thông tin kỳ thi IELTS</div>
              <div class="post-topics-listitem-sub">Kinh nghiệm thi IELTS</div>

              <hr />

              <div class="post-topics-listitem">Luyện thi TOEIC</div>
              <div class="post-topics-listitem-sub">TOEIC Listening</div>
              <div class="post-topics-listitem-sub">IELTS Reading</div>
              <div class="post-topics-listitem-sub">IELTS Materials</div>
              <div class="post-topics-listitem-sub">Thông tin kỳ thi TOEIC</div>

              <hr />

              <div class="post-topics-listitem">Tiếng Anh cơ bản</div>
              <div class="post-topics-listitem-sub">Phát âm</div>
              <div class="post-topics-listitem-sub">Từ vựng</div>
              <div class="post-topics-listitem-sub">Ngữ pháp</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
