<div class="test-item-container">
  <div class="test-item-left">
    <div class="test-item-wrapper">
      <mat-card class="test-item-content">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>IELTS Simulation Listening test 1</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>access_time</mat-icon>
              <span class="test-time"> 40 phút</span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-icon>list</mat-icon>
              <span class="test-part"> 4 phần thi | 40 câu hỏi </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #IELTS Academic </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #Listening </span>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>

        <div class="btn-detail">Chi tiết</div>
      </mat-card>

      <mat-card class="test-item-content">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>IELTS Simulation Listening test 1</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>access_time</mat-icon>
              <span class="test-time"> 40 phút</span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-icon>list</mat-icon>
              <span class="test-part"> 4 phần thi | 40 câu hỏi </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #IELTS Academic </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #Listening </span>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>

        <div class="btn-detail">Chi tiết</div>
      </mat-card>

      <mat-card class="test-item-content">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>IELTS Simulation Listening test 1</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>access_time</mat-icon>
              <span class="test-time"> 40 phút</span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-icon>list</mat-icon>
              <span class="test-part"> 4 phần thi | 40 câu hỏi </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #IELTS Academic </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #Listening </span>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>

        <div class="btn-detail">Chi tiết</div>
      </mat-card>

      <mat-card class="test-item-content">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>IELTS Simulation Listening test 1</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>access_time</mat-icon>
              <span class="test-time"> 40 phút</span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-icon>list</mat-icon>
              <span class="test-part"> 4 phần thi | 40 câu hỏi </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #IELTS Academic </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #Listening </span>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>

        <div class="btn-detail">Chi tiết</div>
      </mat-card>

      <mat-card class="test-item-content">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>IELTS Simulation Listening test 4</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>access_time</mat-icon>
              <span class="test-time"> 40 phút</span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-icon>list</mat-icon>
              <span class="test-part"> 4 phần thi | 40 câu hỏi </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #IELTS Academic </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #Listening </span>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>

        <div class="btn-detail">Chi tiết</div>
      </mat-card>

      <mat-card class="test-item-content">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>IELTS Simulation Listening test 5</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>access_time</mat-icon>
              <span class="test-time"> 40 phút</span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-icon>list</mat-icon>
              <span class="test-part"> 4 phần thi | 40 câu hỏi </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #IELTS Academic </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #Listening </span>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>

        <div class="btn-detail">Chi tiết</div>
      </mat-card>

      <mat-card class="test-item-content">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>IELTS Simulation Listening test 6</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>access_time</mat-icon>
              <span class="test-time"> 40 phút</span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-icon>list</mat-icon>
              <span class="test-part"> 4 phần thi | 40 câu hỏi </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #IELTS Academic </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #Listening </span>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>

        <div class="btn-detail">Chi tiết</div>
      </mat-card>

      <mat-card class="test-item-content">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>IELTS Simulation Listening test 7</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>access_time</mat-icon>
              <span class="test-time"> 40 phút</span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-icon>list</mat-icon>
              <span class="test-part"> 4 phần thi | 40 câu hỏi </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #IELTS Academic </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <span class="test-tag"> #Listening </span>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>

        <div class="btn-detail">Chi tiết</div>
      </mat-card>
    </div>

    <div class="test-item-paginator">
      <app-paginator></app-paginator>
    </div>
  </div>

  <div class="text-item-right"><app-sidebar></app-sidebar></div>
</div>
