.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.app-header {
  height: 52px;
  background-color: #f8f9fa;
}

.content-wrapper {
  background-color: #f8f9fa !important;
}
