<div class="wrapper">
  <div class="app-header">
    <app-header (handleMenu)="addClassBlur($event)"></app-header>
  </div>

  <div #contentWrapper class="content-wrapper">
    <router-outlet></router-outlet>
    <p>
      When deciding on the layout of a document, it is easier to imagine what it
      will look like when the document is completed by using text in a font that
      closely resembles the actual result, rather than using solid color or
      symbols in the text area. However, on the other hand, when text is
      included, attention is focused more on the content of the text than on the
      overall design of the document. Therefore, in the publishing and design
      industries in Europe and the United States, in order to focus their
      presentations on typography and layout, they fill the text with a series
      of meaningless characters. This kind of meaningless dummy text is called
      `` Greeking ,'' after the Greek language (in English -speaking countries,
      Greek is often cited as a typical example of meaningless sentences) . [ 1]
      "Lorem ipsum" is a typical Greek text string used in the British and
      American publishing industry since the days of typography in the 1960s or
      earlier . It's the source. Although ``lorem ipsum'' is very similar to
      classical Latin , it was actually created to have no meaning at all . [2]
      It is not known exactly when this text took its current form, but it is
      believed to be at least the 1960s . It became particularly famous after
      being used for many years in advertisements for typeface samples by the
      British company Letraset . [2] Today's common version was created for
      "Aldus PageMaker" (later " Adobe PageMaker " and now " Adobe InDesign "),
      the first DTP software ever developed for Macintosh by Aldus Company in
      the mid- 1980s . [ 2 ] Art director Laura Perry took the old-fashioned
      ``lorem ipsum'' text from typography samples and used it as dummy text for
      the software . [2] This "lorem" text is still used in InDesign templates.
      Text source This item deals with distinctions made in bold . Depending on
      your viewing environment, it may not be displayed properly. This article
      deals with underlined distinctions. Depending on your viewing environment,
      it may not be displayed properly. This text was originally taken from the
      work De finibus bonorum et malorum ( On the Ultimates of Good and Evil )
      by the ancient Roman statesman and philosopher Cicero . [ 3] The beginning
      of the original sentence looks like this. Likewise, there is no one who
      loves sadness itself because it is sadness , or who seeks to gain it
      because of it. The rarely used source for ``lorem ipsum'' was created by
      Richard McClintock, a Latin literary scholar and head of the publishing
      department at Hampden – Sydney College in Virginia . It was found in the
    </p>
  </div>
</div>
