<div class="not-found-wrapper">
  <div class="not-found-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Không tìm thấy trang!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Trang bạn tìm kiếm không tồn tại trên website của chúng tôi.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/">
          Trang chủ
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
