<div class="calculate-wrapper">
  <img
    class="calculate-img"
    src="../../../assets/img/tinhdiem-ielts.png"
    alt=""
  />

  <img
    class="calculate-img"
    src="../../../assets/img/tinhdiem-toeic.jpg"
    alt=""
  />

  <mat-card class="group-card" (click)="getSharedIeltsGroup()">
    <img
      class="group-card-img"
      src="../../../assets/img/ielts-share.png"
      alt=""
    />

    <mat-card-title>
      Chia sẽ kinh nghiệm và tài liệu tự học IELTS 8.0+
    </mat-card-title>

    <mat-card-subtitle> Facebook group · 164,045K members </mat-card-subtitle>

    <div class="btn-group">
      <i class="fab fa-facebook"></i>
      <span>Tham gia nhóm</span>
    </div>
  </mat-card>

  <mat-card class="group-card" (click)="getSharedToeicGroup()">
    <img
      class="group-card-img"
      src="../../../assets/img/toeic-share.jpg"
      alt=""
    />

    <mat-card-title> Chia sẽ kinh nghiệm luyện thi TOEIC 990 </mat-card-title>

    <mat-card-subtitle> Facebook group · 280,7K members </mat-card-subtitle>

    <div class="btn-group">
      <i class="fab fa-facebook"></i>
      <span>Tham gia nhóm</span>
    </div>
  </mat-card>

  <mat-card class="group-card" (click)="getSharedEnglishGroup()">
    <img
      class="group-card-img"
      src="../../../assets/img/english-share.jpg"
      alt=""
    />

    <mat-card-title>
      Chia sẽ kinh nghiệm tự học tiếng Anh cho người đi làm
    </mat-card-title>

    <mat-card-subtitle> Facebook group · 1,496 members </mat-card-subtitle>

    <div class="btn-group">
      <i class="fab fa-facebook"></i>
      <span>Tham gia nhóm</span>
    </div>
  </mat-card>
</div>
