<div class="sign-in-other">
  <span class="sign-in-other-title">Hoặc đăng nhập bằng</span>

  <div class="sign-in-social">
    <button class="sign-in-social-btn-google" (click)="signInGoogle()">
      <i class="fab fa-google"></i>
      <span>Google</span>
    </button>

    <button class="sign-in-social-btn-facebook" (click)="signInFacebook()">
      <i class="fab fa-facebook"></i>
      <span>Facebook</span>
    </button>

    <button class="sign-in-social-btn-linkedin" (click)="signInLinkedin()">
      <i class="fab fa-linkedin"></i>
      <span>Linkedin</span>
    </button>
  </div>
</div>
