<div class="course-item-container">
  <div class="course-item-left">
    <div class="course-item-wrapper">
      <h1>IELTS</h1>
      <div class="course-item-wrapper-ielts">
        <div (click)="getDetailPage('ielt-1')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/YfKgRMz/combo-ielts.jpg"
              alt="combo-ielts"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  Combo khoá học IELTS Intensive [Tặng khoá TED Talks]
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">38,171 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">1.525.000đ</span>
                    <span class="course-cost-old"> 3.596.000đ </span>
                    <span class="course-cost-discount">-57%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div (click)="getDetailPage('ielt-2')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/YfKgRMz/combo-ielts.jpg"
              alt="combo-ielts"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  Combo Advanced IELTS Intensive kèm chấm chữa giáo viên bản ngữ
                  [Tặng khoá TED Talks] Khoá học online
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">46,833 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">2.925.000đ</span>
                    <span class="course-cost-old"> 5.236.000đ </span>
                    <span class="course-cost-discount">-45%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div (click)="getDetailPage('ielt-3')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/YfKgRMz/combo-ielts.jpg"
              alt="combo-ielts"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  Combo khóa học IELTS lộ trình 0-7+ kèm chấm chữa giáo viên bản
                  ngữ [Tặng khóa TED Talks]
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">63,168 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">3.325.000đ</span>
                    <span class="course-cost-old"> 6.245.000đ </span>
                    <span class="course-cost-discount">-46%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>
      </div>

      <h1>TOEIC</h1>
      <div class="course-item-wrapper-toeic">
        <div (click)="getDetailPage('toeic-1')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/JtKW5vt/combo-toeic.jpg"
              alt="combo-toeic"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  Combo khoá học IELTS Intensive [Tặng khoá TED Talks]
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">38,171 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">1.525.000đ</span>
                    <span class="course-cost-old"> 3.596.000đ </span>
                    <span class="course-cost-discount">-57%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div (click)="getDetailPage('toeic-2')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/JtKW5vt/combo-toeic.jpg"
              alt="combo-toeic"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  Combo Advanced IELTS Intensive kèm chấm chữa giáo viên bản ngữ
                  [Tặng khoá TED Talks] Khoá học online
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">46,833 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">2.925.000đ</span>
                    <span class="course-cost-old"> 5.236.000đ </span>
                    <span class="course-cost-discount">-45%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div (click)="getDetailPage('toeic-3')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/JtKW5vt/combo-toeic.jpg"
              alt="combo-toeic"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  Combo khóa học IELTS lộ trình 0-7+ kèm chấm chữa giáo viên bản
                  ngữ [Tặng khóa TED Talks]
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">63,168 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">3.325.000đ</span>
                    <span class="course-cost-old"> 6.245.000đ </span>
                    <span class="course-cost-discount">-46%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div (click)="getDetailPage('toeic-4')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/JtKW5vt/combo-toeic.jpg"
              alt="combo-toeic"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  Trọn bộ 3 khoá học thực hành tiếng Anh online - Practical
                  English [Tặng khoá TED Talks]
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">38,171 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">989.000đ</span>
                    <span class="course-cost-old"> 2.097.000đ </span>
                    <span class="course-cost-discount">-52%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>
      </div>

      <h1>Tiếng Anh cơ bản</h1>
      <div class="course-item-wrapper-basic-english">
        <div (click)="getDetailPage('basic-english-1')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/cxBJmsw/basic-english.jpg"
              alt="basic-english"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  [Practical English] Luyện nghe nói tiếng Anh cùng TED Talks
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">36,933 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">599.000đ</span>
                    <span class="course-cost-old"> 699.000đ </span>
                    <span class="course-cost-discount">-14%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div (click)="getDetailPage('basic-english-2')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/cxBJmsw/basic-english.jpg"
              alt="basic-english"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  [Practical English] 3600 từ vựng tiếng Anh thông dụng
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">1,023 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">599.000đ</span>
                    <span class="course-cost-old"> 699.000đ </span>
                    <span class="course-cost-discount">-14%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div (click)="getDetailPage('basic-english-3')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/cxBJmsw/basic-english.jpg"
              alt="basic-english"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  [Practical English] Ngữ pháp tiếng Anh từ A-Z
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">985 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">599.000đ</span>
                    <span class="course-cost-old"> 699.000đ </span>
                    <span class="course-cost-discount">-14%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div (click)="getDetailPage('basic-english-4')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/cxBJmsw/basic-english.jpg"
              alt="basic-english"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  [Practical English] Học phát âm và thực hành giao tiếp tiếng
                  Anh
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">2,593 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">599.000đ</span>
                    <span class="course-cost-old"> 699.000đ </span>
                    <span class="course-cost-discount">-14%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div (click)="getDetailPage('basic-english-5')">
          <mat-card class="course-item-content">
            <img
              class="course-item-img"
              mat-card-image
              src="https://i.ibb.co/cxBJmsw/basic-english.jpg"
              alt="basic-english"
            />
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  Trọn bộ 3 khoá học thực hành tiếng Anh online - Practical
                  English [Tặng khoá TED Talks]
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="course-student">
                    <span class="course-student-star">
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star</mat-icon>
                      <mat-icon>star_half</mat-icon>
                    </span>
                    <span class="course-student-total">38,171 Học viên</span>
                  </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                  <span class="course-tag">#Khóa học online </span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <span class="course-cost">
                    <span class="course-cost-new">989.000đ</span>
                    <span class="course-cost-old"> 2.097.000đ </span>
                    <span class="course-cost-discount">-52%</span>
                  </span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="course-item-paginator">
      <app-paginator></app-paginator>
    </div>
  </div>

  <div class="course-item-right"><app-sidebar></app-sidebar></div>
</div>
