<div class="test-wrapper">
  <div class="content">
    <div class="content-container">
      <div class="content-header">
        <h1 class="title">Thư viện đề thi</h1>

        <ul class="test-list">
          <li
            class="test-list-item"
            (click)="handleTestActive('all-tests')"
            [ngClass]="{ active: activeTestItem === 'all-tests' }"
          >
            Tất cả
          </li>
          <li
            class="test-list-item"
            (click)="handleTestActive('ielts-academic')"
            [ngClass]="{ active: activeTestItem === 'ielts-academic' }"
          >
            IELTS Academic
          </li>
          <li
            class="test-list-item"
            (click)="handleTestActive('ielts-general')"
            [ngClass]="{ active: activeTestItem === 'ielts-general' }"
          >
            IELTS General
          </li>
          <li
            class="test-list-item"
            (click)="handleTestActive('toeic')"
            [ngClass]="{ active: activeTestItem === 'toeic' }"
          >
            TOEIC
          </li>
          <li
            class="test-list-item"
            (click)="handleTestActive('toefl-ibt')"
            [ngClass]="{ active: activeTestItem === 'toefl-ibt' }"
          >
            TOEFL iBT
          </li>
          <li
            class="test-list-item"
            (click)="handleTestActive('tieng-anh-thptqg')"
            [ngClass]="{ active: activeTestItem === 'tieng-anh-thptqg' }"
          >
            Tiếng Anh THPTQG
          </li>
          <li
            class="test-list-item"
            (click)="handleTestActive('new-sat')"
            [ngClass]="{ active: activeTestItem === 'new-sat' }"
          >
            NEW SAT
          </li>
        </ul>

        <ul class="test-year">
          <li
            class="test-year-item"
            (click)="handleYearActive(2023)"
            [ngClass]="{ active: activeYearItem === 2023 }"
          >
            2023
          </li>
          <li
            class="test-year-item"
            (click)="handleYearActive(2022)"
            [ngClass]="{ active: activeYearItem === 2022 }"
          >
            2022
          </li>
          <li
            class="test-year-item"
            (click)="handleYearActive(2021)"
            [ngClass]="{ active: activeYearItem === 2021 }"
          >
            2021
          </li>
          <li
            class="test-year-item"
            (click)="handleYearActive(2020)"
            [ngClass]="{ active: activeYearItem === 2020 }"
          >
            2020
          </li>
          <li
            class="test-year-item"
            (click)="handleYearActive(2019)"
            [ngClass]="{ active: activeYearItem === 2019 }"
          >
            2019
          </li>
          <li
            class="test-year-item"
            (click)="handleYearActive(2018)"
            [ngClass]="{ active: activeYearItem === 2018 }"
          >
            2018
          </li>
        </ul>

        <form>
          <div class="custom-relative">
            <input
              type="text"
              id="default-search"
              class="custom-input"
              placeholder="Nhập từ khóa bạn muốn tìm kiếm: tên đề thi, dạng câu hỏi, tên sách ..."
              autocomplete="off"
            />
            <button type="submit" class="custom-icon-button">
              <mat-icon>search</mat-icon>
            </button>
          </div>

          <button mat-raised-button class="custom-button">Tìm kiếm</button>
        </form>

        <br />

        <ul class="nav-tabs">
          <li
            (click)="handleNavActive('all-tests', '/')"
            [ngClass]="{ active: activeNavItem === 'all-tests' }"
            class="nav-item"
          >
            Tất cả
          </li>
          <li
            (click)="handleNavActive('mini-test', 'mini')"
            [ngClass]="{ active: activeNavItem === 'mini-test' }"
            class="nav-item"
          >
            Đề rút gọn
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
